@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
.main {
  display: flex;
}
.left-container {
  width: 35%;
  height: 100vh;
  background: #ff726f;
  float: left;
}
.choose {
  justify-content: center;
  text-align: center;
  margin-top: 65%;
}
.select {
  margin-top: 10%;
}
.right-container {
  height: 100vh;
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
}
.title {
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  align-items: center;
}
.exam-img {
  display: flex;
  justify-content: center;
  margin-left: 1%;
  margin-top: 5%;
}
