@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: white;
  color: rgb(29, 29, 29);
}
.dark-mode {
  background-color: rgb(29, 29, 29);
  color: white;
}
.grid {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
}
.right-container .title {
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  align-items: center;
}
.exam-img {
  display: flex;
  justify-content: center;
  margin-left: 1%;
  margin-top: 5%;
}
