@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: white;
  color: rgb(29, 29, 29);
}
h3 {
  font-size: 20px;
}
select {
  font-size: 15px;
}
li {
  font-size: 15px;
}
.dark-mode {
  background-color: rgb(29, 29, 29);
  color: white;
}
.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.err {
  color: red;
  font-size: 14px;
}
.form {
  margin-left: 10%;
}
#btn-button {
  border-color: black;
  border-width: 2px;
  width: 172px;
  height: 25px;
  background-color: gray;
}
#Formulário {
  font-size: 30px;
  padding-top: 150px;
}
